
*{
    padding: 0px;
    margin: 0px;
}
.main-box{
    width: 100%;
    height: 800px;
    border: 2px solid black;
    
}
.name{
    height: 10%;
    background-color:yellow;
    text-align: center;
}

.content{
    height: 100%%;
    width: 30%;
    background-color: blue;
}
.good{ text-align: center;
    display: flex;
     flex-direction: row;
     height: 80%;
     width: 100%;
     background-color: red;
   
}
.main2{
    background-color: aqua;
    width: 70%;
    text-align: center;
}
.sub1{
    width: 100%;
    height: 50%;
    background-color: red;
}
.sub2{
    display: flex;
    flex-direction: row;
}
.ssub1{
    width: 50%;
    height: 320px;
    background-color: pink;
        display: flex;
    justify-content: center;
    align-items: center;
}
}
.ssub2{
    width: 50%;
    height: 320px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.foot{
    background-color: chartreuse;
    display: flex;
    flex-direction: row;
    height: 10%;
    justify-content: center;
    align-items: center;
    color: brown;
}